@use '../abstracts/variables' as *;

/* 
    home-page-css-start
*/

.sb-home-1 {
    background-color: #050221;
}


.sb-home-2 {
    background-color: #F3F9FF;
}


.sb-home-3 {
    background-color: #F5F5F5;

    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--sb-clr-pr-3);
        }
    }

    .wa-back-to-top {
        background-color: var(--sb-clr-pr-3);

        &:hover svg * {
            fill: var(--sb-clr-pr-3);
        }
    }
}

.sb-home-4 {
    background-color: #F6F7F8;
}




.ag-home-3 {
    background-color: #F5F5F5;


    .wa-back-to-top {
        background-color: var(--ag-clr-h-1);

        &:hover svg * {
            fill: var(--ag-clr-h-1);
        }
    }

    @media #{$over,$xxxl,$xxl} {
        &::-webkit-scrollbar-thumb {
            background: var(--ag-clr-gd-3);
        }
    }
}




/* 
    home-page-css-end
*/